[2019-08-14 22:53] ksawerykarwacki opened #1 "How to run this?"
Should i run this from WIndows Terminal or as a separate process? If i run it from Windows terminal then can I run it in the background somehow or do I need another tab for my regular work?

[2019-08-15 12:49] flyingpie commented on #1
Hello @ksawerykarwacki! The latest version contains a tray icon, which removes the need to run a separate terminal. Let me know if that solves your problem!

![image](https://user-images.githubusercontent.com/1295673/63095599-f091be80-bf6b-11e9-8ac9-07c18d2b8945.png)

[2019-08-15 13:25] ksawerykarwacki commented on #1
Now it works flawless, thanks! I may try to play with the code to keep original size of window and try to remove titlebar for full quake-like experience. Have you though about it?

[2019-08-15 13:40] flyingpie commented on #1
@ksawerykarwacki Great! I haven't, cause I like my terminal fullscreen, but feel free to mess around :). Are you not using the tabs, that appear in the titlebar?

[2019-08-16 10:33] ksawerykarwacki commented on #1
I just want to get rid of the minimize/maximize/close menu. I tried GWL_Style but without any results.

I forked your copy and added few things:
- when process is not found it spawns the new one
- size of the window is preserved
- when open window is forced to stay on top of other windows

I think it is not that bad as my first day with C# :)

I should probably add some configuration but at this p

[2019-08-16 11:35] flyingpie commented on #1
@ksawerykarwacki I would, though I'd like to do it through the process of making a spec first so it'll ultimately get merged into the master repo. I also want to make it configurable and whatnot.

So this is originally meant as a quick-and-dirty workaround to get a Quake-style into Windows Terminal and do some prototyping of different features before trying out a native feature.

[2019-08-16 12:30] ksawerykarwacki commented on #1
@flyingpie Great! If you need any help let me know as I'm heavy user of quaked conemu and I have a lot of edge cases like screens with different scaling in single config etc. As for now I'm closing this one as there is no more issues :)

[2019-08-16 12:30] #1 closed

[2019-08-26 21:21] zakius opened #3 "Restore focus to last active window when WT hides"

[2019-09-02 11:48] #3 closed

[2019-09-02 12:25] flyingpie commented on #3
Cool additions, thank you!

[2020-01-20 07:16] exitdown opened #6 "gui and mouse hanging/lag"
after about 3 hours or so or repeated (50-60+) minimise/unminimise on windows 1904.21 (slow ring) with wsl2 the gui and mouse starts lagging and hanging similarly to how heavy i/o wait can effect the windows gui. isolation has shown its not the windows terminal (v0.8) and not wsl2 specificly (doesnt do it without quake app running)

noones reported it so im assuming its just me. im running a surfa

[2020-01-20 12:07] flyingpie commented on #6
@exitdown Thank you for the feedback! Does this by any chance only happen when you're on battery?

[2020-01-21 02:09] exitdown commented on #6
no worries! it seems to do it  on charge as well - but you might be right about power management being related - surface pro 7 does have some aggressive power management settings, ill investigate further :)

[2020-02-19 08:26] mikef-nl opened #7 "Config"
Could be nice to have it configurable via a json file for:
Hotkeys
Timer for the dropdown

[2020-06-12 09:25] Alessandro-D commented on #7
Indeed, especially for changing the main hotkey.
Is there any way to do that right now?

[2020-06-12 10:54] flyingpie commented on #7
@Alessandro-D Not yet, but definitely a good idea. I'll try to whip something up today.

[2020-07-02 15:52] sanconley commented on #7
Any update on this?

[2020-07-14 08:37] ukWaqas commented on #7
Two main features that should be customisable:
1. Semi transparent,
2. Come down half the screen

[2020-07-24 10:09] mikef-nl commented on #7
Looks like someone already got that far https://github.com/flyingpie/windows-terminal-quake/pull/8

[2020-07-31 18:27] insign commented on #7
Today, LOL

Looks like some MIB kidnapped him

[2020-08-01 18:24] Croydon commented on #7
Everyone has too little time and too much to do. Things happen 😄

[2020-08-16 18:47] flyingpie commented on #7
So I was full-on taken by the MIB. Good news is that I don't need any colonoscopy any time soon.

@mikef-nl @Alessandro-D @sanconley @ukWaqas @insign @Croydon

Pre release v0.4 adds a settings file with:
- Customizable hotkeys
- Toggle notifications (when the app starts and when the settings file is reloaded
- Toggle duration (how long it takes for the terminal to come down/go back up
- Vertical s

[2020-08-17 15:46] Croydon commented on #7
Do hotkeys need a modifier? Is it expect to work if I want to have the toggling feature on e.g. `F8`?

[2020-08-17 15:47] nstrelow commented on #7
OR F1

Would be nice to have an option to only set one key.

[2020-08-17 15:53] Croydon commented on #7
Actually, it works for me

My mistake previously was that I put it into a subdirectory of the programs directory which requires admin rights. Executing quake withOUT admin rights causes then that it can't read the config

Very tiny potential improvement: When quake shows the hotkey in the notification it shows `0+F8` when it is just `F8`

[2020-08-17 16:16] nstrelow commented on #7
how did you set it to only one key?

[2020-08-17 16:39] Croydon commented on #7
Do something like

[code]

[2020-08-19 23:29] flyingpie commented on #7
@ukWaqas I'm continuing the transparency part in #11

There is a pre-release here: https://github.com/flyingpie/windows-terminal-quake/releases/tag/v0.5

![image](https://user-images.githubusercontent.com/1295673/90699843-a335e480-e284-11ea-98b2-989c063ac447.png)

[2020-08-19 23:30] #7 closed

[2020-08-20 08:16] baslas opened #12 "When VerticalScreenCoverage is not 100, the width of the terminal is less than the width of the screen"
Hello,

With v0.4, if I set the `VerticalScreenCoverage` to less than 100, my terminal looks like this:

![image](https://user-images.githubusercontent.com/45793121/90733069-5118b180-e2cc-11ea-8967-83a9a4b90992.png)

The tabs are not displayed because I used the focus mode of the Terminal Preview. This focus mode does not seem to affect the width issue.

Thanks for this project, I use it every day

[2020-08-20 19:13] webbertakken opened #13 "windows-terminal-quake doesn't start both the terminal and itself. (exception thrown: process is null)"
Hey @flyingpie, thanks a lot for creating this. I was so very happy to find this plugin. I'm sure I will be using this all the time like I did in Cmder.

I've downloaded `v0.5` (also  tried `v0.4`) and read the readme, but could not find how it is supposed to open both terminal and this plugin at the same time. I had hoped there would be some setting that allows the plugin to start with terminal a

[2020-08-20 20:58] webbertakken commented on #13
Looking at the code I think it is already supposed to perform what I described above as "Expected behaviour, option 2".

I tried debugging the program and noticed that for me the process is already ended.

![image](https://user-images.githubusercontent.com/20756439/90825063-b0141000-e338-11ea-91a1-ddc5f431b3ae.png)

[2020-08-25 07:15] TailyFair opened #15 "Cannot disable default hotkeys"
Great app!

One thing is that I cannot disable default hotkeys `CTRL+~` and `CTRL+Q`, even if I have only `WIN+~` in configuration.

Default hotkeys are clashing with other hotkeys that I have and used to, besides I don't need 3 shortcuts to toggle Terminal.

My config:
[code]

[2020-08-25 19:38] flyingpie commented on #15
@TailyFair Thank you for reporting the issue!

Are the other options working as expected? Eg. Is the terminal slightly see-through (opacity 90), instant on/of (duration 0), etc.?

Where did you put the settings file? Have you tried restarting the app? Turning it off and on again :)

[2020-08-26 05:39] TailyFair commented on #15
I tried restarting app, other options seems to work, but issue remains.

I glanced at code for a bit and it seems like default shortcuts are always added?
https://github.com/flyingpie/windows-terminal-quake/blob/master/windows-terminal-quake/Settings.cs#L114

[2020-08-30 05:25] Ugenx opened #16 "Windows Defender Threat Detected Win32/Wacatac.D1!ml"
I am assuming this is a false positive having to do with dotnet core as I found references to a similar situation happening with the dotnet sdk itself when people are building it from source (https://github.com/dotnet/runtime/issues/35167) but just figured I'd let you know that this is happening:

![image](https://user-images.githubusercontent.com/1042800/91651851-7f259080-ea46-11ea-8e85-001041430

[2020-08-30 19:36] flyingpie commented on #16
Hello @Ugenx!

Thank you for reporting this. Though it's common for lesser-known apps to be flagged by virus scanners, the app doesn't actually run on .Net Core.

I'm not sure if there's anything I can do to prevent this. Maybe signing the app with a paid-for certificate, or submitting to Virus Total and hoping tons of people will use it :)

[2020-08-30 20:30] Ugenx commented on #16
Woops, silly me for assuming! I'm sure it has to do with the way you hook into/call the process; I too am not sure what can be done to prevent it. FWIW, I just clean installed my operating system last night as I had been dealing with some game performance issues since upgrading to Windows 10 2004 and it has yet to flag the program again. The previous installation also took a few days of running it

[2020-08-31 04:55] pnuzhdin commented on #16
I can confirm, I have the same issue.

[2020-08-31 16:08] shakehar commented on #16
I built the latest and submitted the .exe to VirusTotal and got one detection
 Qihoo-360  HEUR/QVM03.0.9D9B.Malware.Gen
Quick Googling suggests that it is possibly a false positive because it's an .exe without a signed certificate.

[2020-09-03 14:05] metya commented on #16
Confirm that. Now it is not working even after grant permission and whitelisted app in windows defender.
And even after redownload app.

[2020-09-03 22:01] flyingpie commented on #12
Closing this, please feel free to re-open if this is still an issue!

[2020-09-03 22:01] #12 closed

[2020-09-04 02:59] douglara opened #17 "Alt + Tab"
I'm using and loving it ❤️
I found one problem when giving and Alt +Tab
If i am terminal open and press Alt + Tab it doesn't exit correctly.
When calling after Alt + Tab it exit and then i need to calling for second time

[2020-09-06 00:41] flyingpie commented on #17
Hey @douglara Thank you for your feedback!

I've added a "HideOnFocusLost"-setting, defaults to "true", in this PR: https://github.com/flyingpie/windows-terminal-quake/pull/18.

There is a pre-compiled version here: https://github.com/flyingpie/windows-terminal-quake/releases/tag/v0.6

Let me know what you think!

[2020-09-06 04:50] douglara commented on #17
That's it, thanks friend 🔝

[2020-09-06 04:50] #17 closed

[2020-09-06 10:23] webbertakken commented on #13
@flyingpie I know this doesn't happen in your case, but do you have any suggestions on how to solve this?

[2020-09-06 22:05] flyingpie commented on #13
@webbertakken You mentioned that when you start the terminal app, it starts a process, that kicks off another process, then the first process exits. Is that correct?

If so, could you show me what the "intermediate" process is? I'm very confused by this, and why it would be different on my machine ™.

[2020-09-07 15:26] flyingpie commented on #15
@TailyFair I've fixed this in v0.7, could you check a look?

https://github.com/flyingpie/windows-terminal-quake/releases/tag/v0.7

[2020-09-07 17:43] webbertakken commented on #13
Correct.

Just to check if it's a one-of issue, I have just downloaded the latest (stable) version of terminal (from the store this time) after uninstalling the last version and downloaded the latest version from here too, but still observe the same behaviour.

I don't see why your OS or terminal would be different from mine either. The only thing I can think of is that my OS it's on top of Hyper-

[2020-09-07 21:44] webbertakken commented on #13
**Observations:**

The left hand side of the diff shows all accessible properties when the `wt` process is started from inside quake console whereas the right hand side shows the process information about the same process when it was already running (both cases: when started from a previous run of quake console or started as terminal standalone)

![image](https://user-images.githubusercontent.com/

[2020-09-08 16:21] metya opened #20 "App does not work"
The application does not work.

The expected behavior:
Run the app, the app is working and ctrl+\` drops the terminal and process `windows-terminal-quake.exe` is in the processes.

But after a click on the app, only the terminal is opening and the process `windows-terminal-quake.exe` appears only in second in processes, and then it is disappearing.

I tried 0.5, 0.6 and 0.7 versions.

[2020-09-08 16:56] webbertakken commented on #20
Possible duplicate of: https://github.com/flyingpie/windows-terminal-quake/issues/13

Can you see if the linked pr works for you?

[2020-09-08 21:49] flyingpie commented on #13
@webbertakken Thank you for working on this some more.

With "race condition", do you mean merge conflict? I'm seeing a lot of changes that sort of conflict with changes that have been done in the mean time.

I've taken the non-conflicting changes and put that into a build.

This is working perfectly fine on my machine, could you see what happens on yours?

Here is the change: https://github.com/f

[2020-09-08 21:50] flyingpie commented on #20
@metya Should this problem have the same cause as the one @webbertakken is describing, there is a preview with a fix here:

https://github.com/flyingpie/windows-terminal-quake/releases/tag/v0.8

Please let me know if that works for you :)

[2020-09-08 21:53] flyingpie commented on #16
So I assume that the only way to not be flagged by virus scanners would be to sign the app, which I'm not intending to do (these are fairly pricey).

Unless this otherwise impacts usability of the app, I'm gonna close this issue. The app is open source, small and easy-to-build, so I'm not too interested in the trust-factor here.

[2020-09-08 21:53] #16 closed

[2020-09-08 22:06] webbertakken commented on #13
Hey @flyingpie, and thank you for merging my PR!

When I said race condition I didn't mean a merge conflict. That post was made after the second commit last night. See the comment [here](https://github.com/flyingpie/windows-terminal-quake/pull/14/commits/27d342737d63682207706e297114b5d2d1724480#r484574177) pointing out the logging of all properties.

But the third commit was making a proper fix. I

[2020-09-08 22:26] webbertakken commented on #13
Btw may I ask why you force pushed away my 3 commits that you merged into master? These fixes cost me quite a few hours to make and I'd appreciate it if you didn't just copy the changes into your own PR and merge it.

If you want me to replay the same changes in a PR, just let me know.

[2020-09-09 06:35] TailyFair commented on #15
@flyingpie App does not want to launch at all in v0.7 and v0.8
I will try to verify this fix later.

[2020-09-09 19:14] flyingpie commented on #13
@webbertakken The PR merge and force push fuckery is basically all accidental, since I'm not too familiar with multiple git remotes yet, sorry for that. I definitely intend to ultimately use your PR with your code, I was just trying to make a version on top of the changes I made in the mean time.

That being said, could you make it so that the process doesn't become a static field, but is pull fro

[2020-09-09 20:47] webbertakken commented on #13
@flyingpie fair enough, I understand.

I made these changes the way you mentioned in #22.

[2020-09-09 20:52] webbertakken opened #23 "Interest in unit tests?"
Would you be interested in unit tests for this project?

Since I've not created many tests in c# before and I'd like to learn how to do it, I would be willing to contribute some.

Do you have a suggested approach or specific libraries you would use?

[2020-09-10 16:10] flyingpie commented on #13
@webbertakken Thank you for the changes, looks very nice indeed!

Just to confirm, the code as per #22 is working on your machine without issue?
Cause it works over here, so that would be nice :)

One comment, this here line:
[code]

Can be simplified to this:
[code]

The Serilog logging library will take care of adding the stacktrace. In the case of a JSON formatter (not too useful for this app),

[2020-09-10 16:16] flyingpie commented on #23
So I think that unit tests are a great thing, but I'm not sure of too many places in this particular app where things would get better adding them.

That's because most of the code directly calls into specific Win32 stuff, like moving windows and detecting global hot keys. These can be mocked out, but that makes the accuracy (and therefore usefulness) way lower.

The only thing that would be usefu

[2020-09-10 16:39] webbertakken commented on #13
Oh really cool! I updated the logging statement.

I have tested one more time to double check and everything works from my side.

[2020-09-10 16:57] webbertakken commented on #23
Fair enough. I understand.

I'd take your general pointers and perhaps you know any c# projects where testing is done properly in your opinion?

Thank you!

[2020-09-11 00:02] flyingpie commented on #13
@webbertakken Thank you! Just merged the PR, so now we should have a version that works for the both of us :)

https://github.com/flyingpie/windows-terminal-quake/releases/tag/v0.8

[2020-09-11 20:17] #13 closed

[2020-09-11 23:24] #23 closed

[2020-09-14 00:21] Aryevang opened #24 "Docking and decoupling effect [feature request]"
Hello,

I would like to avoid the effect of docking and decoupling of the panel and just let the panel drop.

This effect should have an option in the configuration file to activate/deactivate it.

Regards

[2020-09-14 23:45] flyingpie commented on #24
@Aryevang Could you try these settings (other than the ones you already use):

[code]

I'm curious to know whether that disables the "docking"-effect you describe.

Let me know your findings!

[2020-09-15 01:49] Aryevang commented on #24
Hello @flyingpie,

Thank you for your quick response. This configuration actually works for me. A simple and elegant solution.

Regards.

[2020-09-15 01:49] #24 closed

[2020-09-15 21:52] metya commented on #20
Sorry, for the late answer!

Yes, apparently it was this bug. Then open the app again when terminal is already working it fixes the problem.

Now I download the new version 0.8.
And when I'm trying just open it without administrative permission, there is a windows notification about that some error and nothing happens, only the normal terminal opens. But if I start it with administrative permissio

[2020-09-15 22:33] metya commented on #20
Also, I notice that now terminal disappears without focus. And you need to cntl+` again every time. I think earlier there wasn't that behavior.

[2020-09-17 20:37] Spencer-Dawson commented on #20
I downloaded 0.8 today and see a "the sequence contains no elements" on launch. Terminal seems to launch fine, but It seems this utility crashes after it launches the terminal. I don't see any other error messages and get the same results whether or not I use administrative mode. I only started using 0.8 because the earlier version of this utility I was using stopped working(not sure which version

[2020-09-17 22:07] webbertakken commented on #20
I'm now having this same error also.

[code]

I can confirm that the same version worked before. I updated windows in between, but not the terminal.

Windows 10 Pro - version 1909 build 18363.1016

[2020-09-18 11:16] metya commented on #20
Version 0.7 works well, but you need to launch it twice. Minor problem to me, but without errors, though 😄

[2020-09-22 16:27] webbertakken commented on #20
Possibly related

(x86); see #7418 for further details

source: [microsoft/terminal/releases/v1.3.2651.0](https://github.com/microsoft/terminal/releases/tag/v1.3.2651.0)

[2020-09-22 16:43] webbertakken commented on #20
Fixed in https://github.com/flyingpie/windows-terminal-quake/pull/25 for me. Seems like the program is simply too eager.

Tested with latest version of Terminal: `1.3.2651.0`

[2020-09-23 10:04] metya commented on #20
Well, waiting for the merge and new build.

[2020-09-23 17:28] flyingpie commented on #20
@webbertakken Thank you for looking into this bug :)

@metya Just made a pre release available here: https://github.com/flyingpie/windows-terminal-quake/releases/tag/v0.9

Currently running this version myself, and @webbertakken I'm gonna take a closer look at the code change and the underlying problem soon.

[2020-09-24 18:44] webbertakken commented on #20
@metya could you have a look if this version works for you too?

[2020-09-25 16:56] metya commented on #20
sorry for the long answer.
yes, it totally works for me.

seems now version 0.9 already fine

[2020-09-28 00:07] flyingpie commented on #20
@metya Thank you for the confirmation!

@webbertakken I'd like to change the sleep to a retry-construct, since now there's a chance the process isn't ready yet. With a retry such as the one I used for window opacity here: https://github.com/flyingpie/windows-terminal-quake/blob/master/windows-terminal-quake/Native/TransparentWindow.cs, we're no longer dependent on the process being ready after X m

[2020-09-28 00:08] flyingpie commented on #15
@TailyFair There has been some work going on by @webbertakken regarding this issue (the app not starting), which seems to be fixed in v0.9. If you'd like to try that and tell us your findings, that'd be great!

[2020-09-28 09:00] webbertakken commented on #20
@flyingpie I guess that could work.

Could you please merge the current working version before you do and create 0.9 release?

That way we could work incrementally and check if something breaks every step of the way.

[2020-09-28 12:39] metya commented on #20
Hm.
After rebooting my computer behaviour of the app became as erlier sometimes.
I mean, sometimes when I click the app it launch terminal only, but sometime it works as normal, launch the terminal and the quake mode. Maybe time of sleep not enough or something like that.

[2020-09-29 02:12] metya commented on #20
And I have another question. When the terminal out of focus it disappears from the screen and I have to push ctrl + ` to get the terminal back. It is normal behavior or not?

[2020-09-29 21:56] flyingpie commented on #20
@webbertakken I'd rather make the code a little more robust before actually pushing out a "stable" release, if you don't mind :)

@metya: This is a later added feature "HideOnFocusLost": https://github.com/flyingpie/windows-terminal-quake/#hide-on-focus-lost.

You can turn it off, but I'd figure that it's perhaps the sensible default.

[2020-10-01 22:45] bsides opened #26 "[feature request] Choice to show it left/right aligned"
Right now it appears centralized but, if anyone is like me and use the start bar anchored to the right, it will show the terminal below it, which isn't very nice. Instead, if I could adjust it by left aligning it (and then ajust its width) it would be perfect.

Thank you!

[2020-10-02 01:17] flyingpie commented on #26
Hello @bsides, thank you for your feedback!

Could you include a screenshot of the problem and maybe a quick sketch/annotation of how you'd want it to work instead?

Thanks!

[2020-10-02 06:29] bsides commented on #26
Sure thing @flyingpie

Look at the image in the right
![image](https://user-images.githubusercontent.com/87631/94893609-fb542f00-045d-11eb-972d-dde11a9f1522.png)

I have two monitors, both set up to have the task bar (or start bar) to the right. The guake console aligns itself to the middle of the screen but doesn't take the bar width into the account, rendering itself below the bar. Now, an easy

[2020-10-05 09:07] nlsantos commented on #15
FWIW, the default hotkeys are no longer always added for me (I prefer to use just Win-~; XKeymacs uses Ctrl-Q globally to toggle its functionality) since v0.7.

[2020-10-05 09:17] nlsantos opened #27 "[feature request] Vertical offset"
I use Cairo Desktop on top of Windows; it displays a menu bar at the top of the screen, similar to macOS and GNOME. By default, the terminal window's tabs are obscured by it.

![image](https://user-images.githubusercontent.com/4997190/95061383-1e1c6700-072e-11eb-8ac4-c36dc3caf437.png)

It would be personally useful if there was a way to specify a vertical offset to the exposed terminal window, or

[2020-10-05 23:45] flyingpie commented on #20
@metya @webbertakken I've tweaked the code as provided by @webbertakken a bit and uploaded a new release. It's basically the same but a little more forgiving regarding the time of sleep.

https://github.com/flyingpie/windows-terminal-quake/releases/tag/v0.9

[2020-10-05 23:49] flyingpie commented on #15
@nlsantos I've removed default hotkeys altogether, making it mandatory to have hotkeys configured in the settings file. Fresh downloads contain a settings file with hotkeys, but that might cause problems when someone upgraded from an older version.

[2020-10-06 01:50] flyingpie commented on #20
![](https://1.bp.blogspot.com/-YKHhejLOZ4s/UM8cceYyFTI/AAAAAAAAL0E/qldF5Y9XaSI/s1600/goodnewseveryone.jpg)

It seems that finally I can join the club of people with weird process issues. Perhaps updates to either Windows or Windows Terminal.

Anyway, I've been messing around some more and updated the v0.9 release, and I haven't encountered any problems so far. Note that I had all sorts of issues l

[2020-10-06 10:52] webbertakken commented on #20
I'll have a look soon.

[2020-10-06 14:48] metya commented on #20
thank you for update!

I tried a new release and at first look, it just works fine :)

But in release's zip name you named it with v0.8. Just noted :)

[2020-10-06 22:41] flyingpie commented on #20
@webbertakken Thank you, also, the work is still mostly yours, so I'd like to route the PR through you for proper attribution.

@metya F*CK, thanks for the heads-up :)

Let me know when your PC explodes. Send me a message through your microwave.

[2020-10-08 00:54] flyingpie commented on #20
Closing this issue for now, if anyone encounters the problem again, feel free to ~~smash the subscribe and~~  leave a comment.

[2020-10-08 00:54] #20 closed

[2020-10-08 00:55] flyingpie commented on #15
Closing this issue, but feel free to leave a comment if the problem persists.

[2020-10-08 00:55] #15 closed

[2020-10-08 20:07] etiennelavoie opened #30 "Missing HotKeys in windows-terminal-quake.json"
Here are the hotkeys listed in windows-terminal-quake.json .
[code]

But actually, any Key from the [Key enum](https://docs.microsoft.com/en-us/dotnet/api/system.windows.input.key?view=netcore-3.1) will work!

For example, I use "Oem7", which is the key left of 1 on my french-canadian keyboard layout!

[2020-10-10 13:09] flyingpie commented on #30
@etiennelavoie Thank you for the heads-up, I've added it to the default settings file :)

[2020-10-10 13:09] #30 closed

[2020-10-10 13:59] flyingpie commented on #26
@bsides Check out release v0.10: https://github.com/flyingpie/windows-terminal-quake/releases/tag/v0.10

It has a "HorizontalAlign" setting: https://github.com/flyingpie/windows-terminal-quake/blob/b2c1e7b4e8be11847e34de5fed8a8b7ba6c5e2c3/windows-terminal-quake/windows-terminal-quake.json#L30

Left:
![image](https://user-images.githubusercontent.com/1295673/95656847-467ed980-0b11-11eb-87a4-2bff809

[2020-10-10 14:09] bsides commented on #26
Awesome, will test it out today! Thanks!

[2020-10-10 14:15] flyingpie commented on #27
@nlsantos Thank you for your feedback :)

Check out release v0.10: https://github.com/flyingpie/windows-terminal-quake/releases/tag/v0.10

with the "VerticalOffset"-setting: https://github.com/flyingpie/windows-terminal-quake/blob/b418900b4e51ad6979156f43c7a2b99e23cf743e/windows-terminal-quake/windows-terminal-quake.json#L26

![image](https://user-images.githubusercontent.com/1295673/95657244-b989

[2020-10-10 19:00] nlsantos commented on #27
Suh-weet!

![image](https://user-images.githubusercontent.com/4997190/95662986-c3d83780-0b6d-11eb-82d9-3db9d9adf6b6.png)

(Currently using a value of 20.)

Thanks for implementing it so quickly!

[2020-10-10 21:00] flyingpie commented on #27
You're welcome, thank you for confirming it works for you :)

[2020-10-10 21:00] #27 closed

[2020-10-13 02:15] avere001 opened #32 "Hide on focus lost false still hides behind windows"
Currently setting `"HideOnFocusLost": false` is not enough to keep the terminal from going behind windows.

As a workaround I have added the keybinding to windows terminal `{ "command": { "action": "toggleAlwaysOnTop" }, "keys": "ctrl+shift+q" }`. This is a sufficient workaround for me, but I have to remeber to hit that key combo when I first start windows terminal quake.

Can you make it so setti

[2020-10-14 14:02] LordLyng opened #33 "System.ArgumentException in WindowsTerminalQuake.Settings..cctor()"
Keep getting ArgumentExceptions when running the applciation. Happens both with the settings json next to the application, and in user folder.

Tried multiple versions.

Event Viewer exception details:
Application: windows-terminal-quake.exe
Framework Version: v4.0.30319
Description: The process was terminated due to an unhandled exception.
Exception Info: System.ArgumentException
   at System.IO.

[2020-10-14 19:31] flyingpie commented on #32
@avere001 Thank you for your suggestion!

I've added this to v0.11: https://github.com/flyingpie/windows-terminal-quake/releases/tag/v0.11

It's a setting called "AlwaysOnTop": https://github.com/flyingpie/windows-terminal-quake#always-on-top

Let me know whether this works for you :)

[2020-10-14 19:34] flyingpie commented on #33
@LordLyng Thank you for reporting this bug!

I've made some changes in the v0.11 release: https://github.com/flyingpie/windows-terminal-quake/releases/tag/v0.11.

This should make the app at least run, but perhaps the actual settings are not (correctly) loaded.

Could you add the following to the settings file:
[code]

Then run the app, and see if a "logs"-folder is created next to the .exe, with

[2020-10-14 19:48] LordLyng commented on #33
Thanks! But I'm not sure that logging is working as intended. The logging is dependant on an instance of the SettingDto class, and the error happens within the static constructor. Which means that the error will still happen before logging is enabled.

Will clone and take a look-see later

[2020-10-14 20:38] flyingpie commented on #33
@LordLyng Did you try that using the prerelease?

[2020-10-14 20:54] LordLyng commented on #33
Didn't try it yet - it's late here, I'll look at it tomorrow. I just looked up the code on github and saw no apparent changes to the path resolution for the file watcher - didn't check the rest of it though, resilience might be there. I'll report back tomorrow

[2020-10-17 07:50] bsides commented on #26
Sorry for not confirming before, it works! The only issue I have right now is that I use Windows Terminal Preview and Quake one uses the regular release. Thanks for the feature!

[2020-10-20 13:06] #26 closed

[2020-10-21 18:46] aaronasmith opened #36 "Doesn't work from a folder with spaces in the name"
I modified Settings and Logging to
Path.Combine(Path.GetDirectoryName(new Uri(typeof(Settings).Assembly.Location).LocalPath), "windows-terminal-quake.json")
and it was working.

Also, I'm trying to run from a folder in Program Files, and things seem pretty broken, such as it doesn't reload the settings automatically.  Probably due to permissions in that folder.

[2020-10-27 10:04] vertti opened #38 "Feature request: show version in tray"
I don't want to remember which version of this companion I have installed. It would be great if hovering your mouse over the Tray icon would show version number. Now it says "Windows Terminal Quake", instead it could show "Windows Terminal Quake v0.11".

Thanks for the nice utility!

[2020-11-02 00:05] flyingpie commented on #32
Fixed in v0.11.

[2020-11-02 00:05] #32 closed

[2020-11-02 00:05] flyingpie commented on #33
Fixed in v0.11.

[2020-11-02 00:05] #33 closed

[2020-11-08 11:54] programus opened #40 "McAfee deleted this tool"
I extract the file from the zip I downloaded from the release page. While I run it for a while, the exe file is deleted by McAfee since it consider it as a virus.

![image](https://user-images.githubusercontent.com/956125/98464252-f9238400-2204-11eb-9039-d60d6a1b9f99.png)

Which one is bad? The tool or the McAfee?

[2020-11-09 20:22] flyingpie commented on #40
Hey @programus! Thank you for posting this issue. It's a thing that more people have encountered, with different scanners.

The problem seems to relate to a couple things:
- The app is not signed
- The app is fairly niche, meaning that most virus scanners have not seen it before
- The app uses some hacky ways of accomplishing its features, that are apparently often found in malware. Controlling an

[2020-11-11 11:37] dfyx opened #41 "HideOnFocusLost causes problems with keyboard focus"
When I set `HideOnFocusLost` to `true` and click outside the terminal, it disappears as expected but keeps the keyboard focus. This is easiest to see when clicking a text box in another program (for example the GitHub issue form) and starting to type. The typed text doesn't appear in the text box but as soon as you re-open the terminal you see your text there.

[2020-11-11 11:43] dfyx opened #42 "Feature request: add option to start hidden"
Currently when starting `windows-terminal-quake`, I immediately get a (almost?) full screen terminal window (even though that doesn't match my settings at all). I'd love to have an option to not show the terminal when `windows-terminal-quake` starts so I can put it in my autostart.

[2020-11-11 11:48] dfyx opened #43 "Feature request: add option to select monitor"
Currently, using the hotkey causes the terminal appear on the monitor where the mouse cursor is. It would be nice to have an option to set an integer that identifies which monitor the terminal should appear on with `null` being the current behavior.

[2020-11-20 15:51] rsJames-ttrpg opened #44 "When used with vs code shortcut terminal focus shortcut hijacked"
When used alongside vscode with the shortcuts
[code]
The quake terminal is called using ctrl+` instead of the vscode terminal panel despite them being different shortcuts.
TBH I like it, it just isn't expected behaviour.

[2020-11-21 03:44] tdy opened #45 "Occasional NullReferenceException when toggling terminal"
I sometimes get a `System.NullReferenceException` when toggling the terminal (full traceback pasted below).

Anecdotally, so far it's only happened when I was fullscreened (e.g., YouTube video), though I can't reproduce reliably.

I'm using v0.11 on Win 10 Pro 19042.

[code]

![image](https://user-images.githubusercontent.com/2503508/99866059-d6ce2680-2b73-11eb-9f93-e792ce6359bd.png)

[2020-11-26 11:09] flyingpie commented on #45
@tdy Thank you for reporting this, I'll look into it asap :)

[2020-11-26 11:10] flyingpie commented on #44
@jackomayo Thank you for your comment! I'm not entirely sure if I understand you correctly though, is the point that:

- VS Code has ctrl+~ set for opening the built-in terminal
- WinTerm Quake has ctrl+~ set for toggling Windows Terminal
- When VS Code is open, and you press ctrl+~, Windows Terminal gets precedence over VS Code

Correct?

[2020-11-26 11:11] flyingpie commented on #43
@dfyx Great suggestion! I'll look into this for a coming release soon :)

[2020-11-26 11:12] flyingpie commented on #42
@dfyx As with your other one, great suggestion! I'll try to include this with the next release.

[2020-11-27 14:39] dangoodman opened #46 "Fails to start from a directory containing spaces in the name"
v0.11 fails with `Cannot start: "Object reference not set to an instance of an object"` when launched from a directory containing a space char like `C:/Program Files/wtq` or `C:/Windows Terminal Quake`. Starts fine from `C:/wtq`.

![wtq-start-fail](https://user-images.githubusercontent.com/345718/100459982-d8519e80-30df-11eb-8db7-6cf911895adb.png)

[2020-11-29 15:43] flyingpie commented on #46
@dangoodman Thank you for reporting this!

I'm working on a release where I'll include a fix for this.

[2020-12-02 10:33] dangoodman commented on #46
Cool! Looking forward.

[2020-12-07 17:41] Migacz85 opened #47 "Acrylic opacity - blur"
How to add blur to the opacity of the terminal?
Thanks

[2020-12-07 22:52] flyingpie commented on #47
That's a Windows Terminal setting: https://docs.microsoft.com/en-us/windows/terminal/customize-settings/profile-settings#acrylic-settings

[2020-12-07 22:52] #47 closed

[2020-12-27 04:11] #40 closed

[2020-12-27 04:13] flyingpie commented on #41
@dfyx Thank you for reporting this! What an interesting bug indeed. I'll investigate this and see if it can be fixed for the next release.

[2020-12-28 02:46] programus commented on #40
@flyingpie Thank you for your reponse. I have uninstalled the annoying McAfee.

[2020-12-31 06:58] rmobis opened #50 "[feat-request] configurable stepDelay/stepCount"
It would be nice to be able to customize `stepDelay` and/or `stepCount` (https://github.com/flyingpie/windows-terminal-quake/blob/master/windows-terminal-quake/Toggler.cs#L64-L65). The main motivation would be to lower the delay/increase the count, as that would provide a much smoother animation.

However, I did some research ([stack overflow](https://stackoverflow.com/questions/31742521/accuracy-

[2021-01-01 04:34] flyingpie commented on #46
@dangoodman Will be fixed in the next release, thanks to [aaronasmith](https://github.com/aaronasmith) and [shrddr](https://github.com/shrddr)).

[2021-01-01 04:34] #46 closed

[2021-01-01 04:36] flyingpie commented on #36
@aaronasmith Will be fixed with the next release, thank you for reporting!

[2021-01-01 04:36] #36 closed

[2021-01-01 04:47] flyingpie commented on #45
@tdy This _should_ be fixed in the next release. I added some additional safety checks, and I think that it has to do with some specific circumstances around the cursor being off-screen, in which case no screen can be found where the terminal should be dropped. This might especially be the case if some fullscreen video is playing, like you suggested.

Please comment on or re-open this issue if you

[2021-01-01 04:47] #45 closed

[2021-01-01 04:59] flyingpie commented on #38
@vertti Part of the next release, thank you for your feedback!

![image](https://user-images.githubusercontent.com/1295673/103433716-8fb56580-4bf6-11eb-980e-81e358a0fdd9.png)

[2021-01-01 04:59] #38 closed

[2021-01-01 05:41] flyingpie commented on #42
@dfyx Comes in the next release, which I'm finishing up right now. Look for the "StartHidden" setting:

[code]

[2021-01-01 05:41] #42 closed

[2021-01-01 05:43] flyingpie commented on #43
@dfyx Comes in the next release, which I'm finishing up right now. Look for the "PreferMonitor" and "MonitorIndex" settings:

[code]

[2021-01-01 05:43] #43 closed

[2021-01-01 06:07] flyingpie commented on #50
@rmobis Thank you for the feedback, this will be part of the next release.

Look for the "ToggleAnimationFrameTimeMs" setting:

[code]

[2021-01-01 06:07] #50 closed

[2021-01-07 15:30] NikhilSaini38 opened #52 "Trying to figure out how to pass arguments to windows terminal via this app"
So here is the use case.

I am trying to create a context menu entry for opening windows-terminal-quake in the selected directory, But I cannot figure out how and if we can pass arguments to the windows terminal for the working directory.

[2021-01-08 05:53] flyingpie commented on #52
@NikhilSaini38 Thank you for your comment!

I've added this to release 1.1, which can be downloaded here:
https://github.com/flyingpie/windows-terminal-quake/releases/tag/v1.1

The PR is here, you need to get that branch if you'd like to make a build yourself:
https://github.com/flyingpie/windows-terminal-quake/pull/53

Let me know if that solves the issue!

[2021-01-08 10:04] chessmango opened #54 "Odd behaviour when ToggleDurationMs < ToggleAnimationFrameTimeMs"
I understand that by definition `ToggleAnimationFrameTimeMs` has a lower bound of 15 and defines the lower bound for `ToggleDurationMs` (granted I didn't quite catch this at first and trial-and-errored my way around for a while)

However, the terminal window is effectively a normal (albeit transparent and whatever else is configured) window when toggled in this state. Not sure whether worth lookin

[2021-01-09 06:59] flyingpie commented on #54
@chessmango Thank you for your comment! :)

I've added a change here: #55. That basically caps the value of "ToggleDurationMs" to 15 and up.
The PR is part of prerelease 1.1: https://github.com/flyingpie/windows-terminal-quake/releases/tag/v1.1

I think this solves the weird behavior you were talking about.

Please let me know if you find the same thing, and thanks again for taking the time to lea

[2021-01-09 11:27] syncore opened #56 "Start on preferred monitor in AtIndex mode?"
Hey there, thanks for this software 👍. I find it very useful when I am on Windows. I was wondering if you plan on adding support to allow the application to start on the preferred monitor when it is in `AtIndex` mode? I quickly hacked this in [here](https://github.com/syncore/windows-terminal-quake/commit/9895716914f665be6a38a235259a2674293820bb) but perhaps there is a better/more elegant way.

An

[2021-01-15 14:27] justinledwards opened #57 "Auto updater from github releases"
How hard would it be to implement something like this?

https://www.codeproject.com/Articles/5165015/AutoUpdate-A-GitHub-Enabled-autoupdater

I haven't been active with visual studio in quite a while.   It looks like a very simple wrapper.

I also wanted to say thanks.  This project has helped me feel more at home on windows.  I tried the conemu and variants and they were really frustrating with r

[2021-01-15 15:42] alexandrupetrini opened #58 "Restore focus to last active window when WT hides should be an option"
Hello,

Please make this focus feature a settings option.

I use a [focus follow mouse AHK script](https://autohotkey.com/board/topic/79636-function-setactivewindowtracking-ahk-l/) which gives focus to the window under the mouse without actually bringing it in front (meaning keyboard works, but the mouse did not touch the windows).

I often find myself being dragged from a monitor where I have the

[2021-01-16 14:36] flyingpie commented on #57
@justinledwards Thank you for your kind words :heart:

I'll look into adding an auto-updater for the next release!

[2021-01-17 15:40] #52 closed

[2021-01-17 15:40] #54 closed

[2021-01-18 14:12] Gerboa opened #59 "Install via scoop fails"
Running the command line `scoop install https://github.com/flyingpie/windows-terminal-quake/blob/master/scoop/windows-terminal-quake.json` fails with the error:

Line |
  25 |      $str | convertfrom-json
     |             ~~~~~~~~~~~~~~~~
     | Conversion from JSON failed with error: Unexpected character encountered while parsing value: <. Path '', line 0, position 0.

[2021-01-18 14:17] Gerboa opened #60 "Cannot bind to ` key"
The button in the top-left of my keyboard enters a \` (backtick) normally and ¬ shifted.

I've tried entering \` as the key to bind to (plus Control) but it doesn't work. ^Q and ^' work (' being OemTilde).

[2021-01-18 19:59] jsonMartin commented on #59
I had the same error

[2021-01-20 06:43] m1k0lay opened #61 "windows-terminal-quake can't run wt.exe"
![Безымянный](https://user-images.githubusercontent.com/39671588/105137093-d3b7ce00-5b03-11eb-85f8-a0b3f140a461.jpg)

[2021-01-20 10:29] flyingpie commented on #61
Hey @m1k0lay! Thank you for reporting the issue :) Could you provide a translation, since my Russian currently is a bit rusty :D

[2021-01-20 17:29] m1k0lay commented on #61
"Couldn't find the specified file"

[2021-01-21 10:21] flyingpie commented on #61
Thanks you for helping me out :)

- What version are you running?
- What version of Windows Terminal are you running?
- Could you add the following to the .json file: ```"Logging": true```, then start again and see if a log file is created (paste here if so).
- Are you running the tool from a folder with a space in it by any chance? This should be fixed in a recent version.

[2021-01-21 18:18] m1k0lay commented on #61
- 1.1.0
- 1.4.32.43

2021-01-21 21:17:30.445 +03:00 [ERR] Error creating process: 'Не удается найти указанный файл'
2021-01-21 21:17:30.474 +03:00 [ERR] Error creating process: 'Не удается найти указанный файл'
2021-01-21 21:17:30.538 +03:00 [ERR] Error creating process: 'Не удается найти указанный файл'
2021-01-21 21:17:30.648 +03:00 [ERR] Error creating process: 'Не удается найти указанный файл'

[2021-01-24 21:03] ZenoArrow opened #62 "Wrong JSON path when installing via scoop"
Suggested installation command for scoop doesn't work, would suggest changing this...

scoop install https://github.com/flyingpie/windows-terminal-quake/blob/master/scoop/windows-terminal-quake.json

... to this...

scoop install https://raw.githubusercontent.com/flyingpie/windows-terminal-quake/master/scoop/windows-terminal-quake.json

Difference is that in the second command it's using the raw/p

[2021-01-31 09:05] Deliganli commented on #62
thanks a lot @ZenoArrow , when the changes have proposed the commit haven't been merged, so I guessed the url, and failed. Should be fixed once last commit merged.

[2021-01-31 09:05] Deliganli commented on #59
please see https://github.com/flyingpie/windows-terminal-quake/issues/62

[2021-01-31 10:53] flyingpie commented on #62
Fixed (thanks to @Deliganli)

[2021-01-31 10:53] #62 closed

[2021-01-31 10:54] flyingpie commented on #59
Fixed, thanks to @Deliganli.

[2021-01-31 10:54] #59 closed

[2021-02-07 16:39] flyingpie commented on #61
@m1k0lay Could you try to run both apps from a folder with no spaces? It _should_ work, but that way we can figure out if that's the problem.

[2021-02-07 16:39] flyingpie commented on #60
@Gerboa Hey! Thanks for reporting the issue. I wonder if this is caused by a different keyboard layout, can you tell me which one you're using?

[2021-02-13 16:26] m1k0lay commented on #61
`2021-02-13 19:24:45.922 +03:00 [INF] Windows Terminal Quake started
2021-02-13 19:24:46.005 +03:00 [ERR] Error creating process: 'Не удается найти указанный файл'
2021-02-13 19:24:46.036 +03:00 [ERR] Error creating process: 'Не удается найти указанный файл'
2021-02-13 19:24:46.097 +03:00 [ERR] Error creating process: 'Не удается найти указанный файл'
2021-02-13 19:24:46.203 +03:00 [ERR] Error cre

[2021-02-17 05:55] rmobis commented on #58
I have some issues with the focus restore as well, but for slightly different issues. Personally, I don't mind the focus being restored when you minimize it using the shortcut, but the fact that it does it even when you "exit" it by focusing another window is a tad annoying. That gives me similar issues where I click on the browser, it loses focus and resets the focus to the editor.

I could work

[2021-02-17 05:57] rmobis opened #64 "window swaps monitor during closing animation"
If you open the terminal on one monitor, move your mouse to another monitor and press the hotkey to close it, the whole window is moved to the second monitor and the animation is player there.

Caching the monitor it opened on and then using that info on the closing animation should fix it.

[2021-02-19 05:02] flyingpie commented on #64
@rmobis Thank you for the suggestion! I'll try to include this in the next release :)

[2021-02-23 06:54] flibX0r commented on #62
Just FYI, the link is still incorrect on the [GitHub Pages documentation](https://flyingpie.github.io/windows-terminal-quake/getting-started/get-from-scoop/). I'd make a pull request to fix it, but the docs are private.

[2021-02-24 22:37] Ugenx opened #65 "Alignment settings not working"
The horizontal/vertical alignment settings don't seem to be respected for versions newer than v0.11. On my ultrawide monitor a full width dropdown is a bit much so I have it configured to appear on the left side and occupying about 50% of the monitor's width with a bit of padding at the top which works fine on 0.11 but any newer version ignores the vertical padding and horizontal left alignment se

[2021-02-28 23:30] BlueDrink9 opened #66 ""Windows" modifier is not working"
My current settings under "Hotkey" are:

[code]

Using this, control+~ works, but neither win+z or win+~ work.

Version 1.1.1, Win 10 Home

[2021-03-02 16:24] jgardsentry opened #67 "Don't hide when focus lost on another monitor"
When using multiple monitors, I personally would like an option to keep Terminal visible when clicking on window on another monitor.  I'd only want to hide it when clicking outside on the same monitor or pressing the show/hide hotkey.

[2021-03-04 12:46] fmiqbal commented on #61
I got similar error recently,
I am using version 1.1.1
I am on `Windows Insider Build 21327.1000`
it doesn't reported on event viewer

I am running in `D:\terminal`
![image](https://user-images.githubusercontent.com/8409391/109965770-015a7e80-7d22-11eb-9d8e-cd345e54c9a8.png)
![image](https://user-images.githubusercontent.com/8409391/109965805-0c151380-7d22-11eb-8175-1ed9b1abf52a.png)

**Log files*

[2021-03-04 13:09] fmiqbal commented on #61
I may have problem on my end, not the project

![image](https://user-images.githubusercontent.com/8409391/109968587-7bd8cd80-7d25-11eb-9b8f-557f49f18335.png)

[2021-03-09 06:20] meluskyc commented on #65
I am also experiencing this issue. Commit 428d166 seems to have broke this.

[2021-03-10 11:17] vertti opened #68 "Should open Windows Terminal if not already started"
Feature Request: I've put windows-terminal-quake to startup directory. So I'd love that it would start Windows Terminal if one is not already running. Not it just fails with a warning popup.

[2021-03-11 03:40] flyingpie commented on #68
Hello @vertti, thank you for reporting this issue! This should actually already happen, could you provide the warning to see why wtq is not starting wt?

[2021-03-11 03:41] flyingpie commented on #67
Hello @jgardsentry, thanks for the suggestion. Interesting scenario, I'm gonna see if this can be included in a next release.

[2021-03-11 03:42] flyingpie commented on #66
@BlueDrink9 Thank you for reporting this issue! What keyboard layout are you using?

[2021-03-11 03:43] flyingpie commented on #65
@Ugenx @meluskyc Thank you for reporting this, I'm gonna try and fix this in the next release.

[2021-03-11 03:54] BlueDrink9 commented on #66
Colemak. Switching to EN US (qwerty) does not fix

[2021-03-11 04:01] BlueDrink9 opened #69 "Error on startup: Cannot start, value cannot be null. Parameter name: source"
![terminal error](https://user-images.githubusercontent.com/26474254/110733403-c1981780-828a-11eb-97b7-1f32017e7625.PNG)

When I try to start the app now, Ubuntu windows terminal opened in full screen and this notification appeared.

[code]

It worked last month when I submitted my previous issue.

[2021-03-11 04:03] BlueDrink9 commented on #69
This happens even when the settings .json is deleted

[2021-03-11 04:05] BlueDrink9 commented on #69
Windows version 1909

[2021-03-11 04:10] BlueDrink9 commented on #69
Hmm, working again after re-extracting exe and default config

[2021-03-11 04:15] BlueDrink9 commented on #66
Hmm, I redownloaded the app and re-extracted it, and this is now fixed. Sorry for wasting your time

[2021-03-11 04:15] #69 closed

[2021-03-11 09:23] flyingpie commented on #66
@BlueDrink9 No worries, just happy that you took the time to report the issue!

[2021-03-11 10:47] vertti commented on #68
![cannotfind](https://user-images.githubusercontent.com/557751/110775601-c4354580-8267-11eb-8f15-98c5f76d4e8c.JPG)

That is what pops up when starting the quake 1.1.1 when I do not have Windows Terminal running. If I start Windows Terminal my self and after that the quake, everything works.

[2021-03-11 13:43] Shuaiouke opened #70 "Setting key to only F12 doesn't seem to work"
I would like the key to be set to F12 so it behaves just like in linux, my config is simply
	"HotKeys": [
		{
			"Key": "F12"
		}
	]
but it didn't work, i have tried other keys in it's place and it seems fine, I think it's only the function keys that are broken

[2021-03-12 07:32] bllngr opened #71 "Terminal window starts maximized"
With the default configuration of both the companion app and Windows Terminal (Preview), the Terminal windows is shown in maximized mode at the start off the companion app. Only when pressing the configured hotkey, the Terminal window is restored to the configured state, and then hides. Any subsequent activation using the hotkey shows the window as intended.

windows-terminal-quake version: 1.1.1-

[2021-03-15 10:05] maxim-shlain opened #72 "After adding json config the app fails to start - Cannot start: 'Value cannot be null. Parameter name: source'."
I've added following config file:
C:\Users\%USERNAME%\windows-terminal-quake.json

with below content:
{
    "AlwaysOnTop": true,
    "HideOnFocusLost": false,
    "HorizontalScreenCoverage": 80,
    "VerticalScreenCoverage": 80,
    "StartHidden": true
}

when I start the app, the terminal launches but the quake mode does not work

the following error appears:
![image](https://user-images.githubu

[2021-03-15 10:08] maxim-shlain commented on #72
Terminal preview directly starts successfully
Nothing special in event viewer

[2021-03-18 10:37] lpuglia commented on #70
F12 on windows is a special key used in debugging, for some reasons it is set system-wide, you may want to disable this windows shortcut first:
https://conemu.github.io/en/GlobalHotKeys.html#Using_F12_as_global_hotkey

[2021-03-20 23:51] rafiazman commented on #72
Just ran into this same issue with the following config in the same direction (inside `C:\Users\%USERNAME%\`

[code]

[2021-03-21 23:51] manu-vilachan commented on #71
Same behavior here ✋.

Windows Terminal Versión: 1.6.10571.0
windows-terminal-quake-1.1.1-2021-02-07_1615

[2021-04-01 19:02] metya opened #73 "Accssesibility by ALT+TAB"
Hello!
Great tool!

But It would be great if the terminal under the tool could be accessible by Alt + Tab shortcut like any other window in the workspace.
By the options in setting for example.

Thank you!)

[2021-04-07 15:08] marxjohnson opened #74 "Toggle animation is weird on vertically-stacked monitors"
I have 2 monitors, one above the other. If I press the key to reveal windows-terminal-quake on my bottom monitor, the window appears at the bottom of my top monitor, then slides down to the bottom one. This looks really odd.

I have worked around this by setting ToggleDurationMs and ToggleAnimationFrameTimeMs to 15, effectively disabling the animation.

[2021-04-07 21:42] flyingpie commented on #74
@marxjohnson Thank you for reporting this! It's actually showing the hacky trick of how the toggle works, by moving the entire window off to the top.

I'm not sure of how to fix this, as I haven't actually taken into account vertically-stacked monitors tbh.

Do you think it would be acceptable to have it fly in from the side or the bottom or something?

[2021-04-08 10:11] marxjohnson commented on #74
I'm not really sure what the "right" solution would be. You could make it fly in from another side, but presumably that would have the same problem if there's another monitor to that side?

Another possibility might be an option to have it appear in place, but fade in from 0 to the configured opacity?

[2021-04-20 21:39] flyingpie commented on #73
@metya Thank you for your feedback!

Just to confirm, the point is that you don't want the terminal to disappear from the taskbar?

[2021-04-22 02:58] aleybe commented on #44
Hi @rsJames-ttrpg and @flyingpie please take a look at #77  when you have a chance :)

[2021-04-24 13:09] flyingpie commented on #74
@marxjohnson I'll try and see what the fade does, not sure if it's gonna be fast enough though. What does your configuration look like?

[2021-04-26 19:10] shanselman commented on #74
I have this issue also. What about **resizing** the window vertically until it gets small, then hiding it.

[2021-04-27 05:18] flyingpie commented on #74
@shanselman Thank you for your suggestion! I've made a first test of this, and it seems to work very nicely.

I'm still making this non-horrendous, but in the mean time, I'd love for you guys (@marxjohnson) to check out the test version:
https://github.com/flyingpie/windows-terminal-quake/releases/tag/v1.2.0

Over time, I've had people report some issues across different computers and -monitor set

[2021-04-27 05:47] flyingpie commented on #44
PR is going through last bits of review, and will be part of v1.2.0 (with thanks to @aleybe).

[2021-04-27 05:49] flyingpie commented on #56
@syncore Thank you for your feedback, Sorry for the late response. I'm planning to have this in the next release. Could you turn this into a PR so your name can be in the contributors list?

[2021-04-27 06:15] shanselman commented on #74
That looks awesome! The only weird part is that if you have two monitors, 1 and 2, top and bottom. 1 is 1080p and 2 is 4k. If you activate this hotkey while on the bottom monitor, it looks great. While on the top, it is half size. See video.

https://1drv.ms/v/s!AiwVcXM2pwbNibITNh_w1wCIgyL88A?e=wuJbaU

[2021-04-27 07:29] flyingpie commented on #74
Thanks for the quick response, could you post your settings file please?

[2021-04-27 08:20] marxjohnson commented on #74
@flyingpie I've tried out that build, the animation looks good, but I can't get it to appear on my bottom monitor, so I can't really tell if it resolves the problem! I've attached my config file. I've also tried "AtIndex" and "Primary" for the "PreferMonitor" option, but it doesn't seem to help.
[windows-terminal-quake.zip](https://github.com/flyingpie/windows-terminal-quake/files/6383000/windows-

[2021-04-27 13:24] flyingpie commented on #74
@marxjohnson @shanselman I've updated the release, messed around with different monitor configurations, and I'm very curious to know if stuff is working better for you now:

https://github.com/flyingpie/windows-terminal-quake/releases/tag/v1.2.0

Thanks again for both your feedback, very useful to allow more monitor configurations :)

[2021-04-27 14:41] flyingpie commented on #71
@bllngr @manu-vilachan Thank you for reporting this! This is fixed with the next release: https://github.com/flyingpie/windows-terminal-quake/releases/tag/v1.2.0.

[2021-04-27 15:05] bllngr commented on #71
Thanks, @flyingpie. I've just tested 1.2.0 and unfortunately, it still happens on my machine (with the default configurations of the Windows Terminal and your companion app).

[2021-04-27 16:11] flyingpie commented on #65
@Ugenx @meluskyc There's a new release available, and I've taken a closer look at the alignment, which should be working again.

Would you guys confirm this please? :)

[2021-04-27 16:27] flyingpie commented on #72
@maxim-shlain @rafiazman Thank you for your feedback, I have added a new prerelease version of v1.2.0 where this issue should be solved.

https://github.com/flyingpie/windows-terminal-quake/releases/tag/v1.2.0

It was because of the "Hotkeys"-setting no longer receiving a default when none is set.

I hope this fixes the issue :)

[2021-04-27 16:28] flyingpie commented on #71
@bllngr You're totally right, I tested one build, but accidentally uploaded another. There's a new upload that contains the fix, hopefully this time the problem is gone :)

https://github.com/flyingpie/windows-terminal-quake/releases/tag/v1.2.0

[2021-04-27 16:31] flyingpie commented on #56
@syncore I (semi-accidentally) fixed this while fixing another issue (#71), it should work as expected in the latest release:

https://github.com/flyingpie/windows-terminal-quake/releases/tag/v1.2.0

[2021-04-27 22:29] meluskyc commented on #65
Fixed for me. Thanks!

[2021-04-28 03:19] jake-harris commented on #74
I'm getting a JSON parsing error when starting up from the config file.

![image](https://user-images.githubusercontent.com/5045536/116341472-d9bdea80-a795-11eb-9178-9292763b6851.png)

Here's my log:

[code]

[2021-04-28 05:42] flyingpie commented on #74
@jake-harris Thank you for reporting this, could you share your settings file?

[2021-04-28 06:19] maxim-shlain commented on #72
Works for me on https://github.com/flyingpie/windows-terminal-quake/releases/tag/v1.2.0

Thanks

[2021-04-28 08:03] marxjohnson commented on #74
@flyingpie This works well for me!

[2021-04-28 08:45] bllngr commented on #71
Great, with 1.2.0-2021-04-27_1623, the issue is actually fixed. Thank you for your work! 👍

[2021-04-28 08:45] #71 closed

[2021-04-28 13:03] metya commented on #73
So if the window is disappeared from the taskbar that means this window is no more accessible by Alt+Tab?

Hmm. If so, maybe anyway a good option to have the terminal on the taskbar, why not.

But I wanted just able to switch to the terminal which is in the down position, cause now the terminal doesn't disappear if lost focus, but if I switch to fullscreen IDE, for example, I lose the terminal, bu

[2021-04-28 13:56] flyingpie commented on #73
@metya Thank you for explaining this further, I actually noticed that it might be inconvenient that taskbar icon visibility and alt-tab presence seem to be linked.

However, since you brought up the "hidden behind another app"-thing, there is a setting that auto-hides the terminal if focus is lost, would that solve the problem perhaps?

https://flyingpie.github.io/windows-terminal-quake/settings/h

[2021-04-28 14:14] metya commented on #73
No, I don't want to hide the terminal when it lost focus. Cause If I switch in a window that just not in fullscreen mode, I can anyway touch my terminal by mouse and return focus - it is convenient. Or switch my mouse to another monitor and have the terminal on screen.

Oh, and I noticed that you have the documentation! That's good because I didn't understand how some options are work :) Thank you

[2021-04-28 14:48] flyingpie commented on #73
Not sure if there's a way to hide the app from the taskbar, but not from the alt-tab menu.

If we had a setting that kept the icon visible on the taskbar, would that solve your use case? It would still be invisible when the terminal is toggled off, mind you.

![linus](https://user-images.githubusercontent.com/1295673/116424049-7f7a6380-a841-11eb-84dd-b506fba49d4f.gif)

[2021-04-28 15:35] metya commented on #73
I think It's ok if there will an icon on the taskbar. For me, it's not a big deal!

Thank you very much for your work.

[2021-04-28 15:52] flyingpie commented on #73
@metya Thank you for the feedback, I'll include this in the next release, today or tomorrow :)

[2021-04-29 05:40] flyingpie commented on #73
@metya New release is available here (make sure to choose the latest, I've kept multiple since I'm changing a ton of stuff, some of which may break between previews:

https://github.com/flyingpie/windows-terminal-quake/releases/tag/v1.2.0

The setting itself (docs haven't been updated yet):

[code]

Possible values are:
- "AlwaysHidden" (default)
- "AlwaysVisible"
- "WhenTerminalVisible" (the reas

[2021-04-29 05:49] flyingpie commented on #70
@lpuglia Thank you for pointing this out, would have taken me forever :D

@Shuaiouke Can you confirm that this fixes the problem for you as well?

[2021-04-29 05:50] flyingpie commented on #68
@vertti That's weird, what happens if you enter "wt" on the command line?

[2021-04-29 05:53] flyingpie commented on #68
Also, I think this might be the same issue as reported here: #61. Fellow fmiqbal points out that repairing the Windows Terminal installation fixed the issue. He also wasn't able to run "wt" separately, so I'd like to know whether that does work on your machine.

[2021-04-29 17:59] mkanet opened #79 "Opened issue by mistake."
Please delete.

[2021-04-29 18:31] #79 closed

[2021-04-29 20:25] Ugenx commented on #65
Looks good @flyingpie, thanks!

[2021-04-29 20:25] #65 closed

[2021-04-29 21:36] Deus-Rex commented on #60
It's the UK layout. I have the same thing.

[2021-04-29 23:44] jahsome commented on #74
I realized the config I was using was not the one I thought. When I used the correct config things loaded for me. As of know things are working smoothly, I'll post if I have any issues.

[2021-04-30 06:17] flyingpie commented on #65
@meluskyc @Ugenx Thank you for reporting the issue and confirming the fix!

[2021-04-30 06:35] flyingpie commented on #60
@Deus-Rex Thank you for mentioning this, I was able to reproduce the issue.

It turns out that that specific keyboard language doesn't emit "Oemtilde" from the backtick-key, but a "negation" sign, which surfaces as key code "Oem8".

This setup worked for me, using the UK keyboard layout:

[code]

@Gerboa @Deus-Rex Could you please take a look and try this on your machines?

[2021-04-30 08:27] vertti commented on #68
Running `C:\Users\vertti\AppData\Local\Microsoft\WindowsApps\wt.exe` from command line works. I also tried running the Settings -> Apps -> Windows Terminal -> Repair. Still get the error from quake if Windows Terminal is not already running.

[2021-04-30 18:00] flyingpie commented on #68
@vertti I've uploaded a new release with a new setting called "WindowsTerminalCommand", which controls the actual command that is used to start Windows Terminal, if it isn't running already.

Could you try to run this version with a setting such as:

[code]

I'm not sure why the app isn't finding wt.exe (which is the default command), but perhaps we can find something by messing around with the co

[2021-04-30 18:04] flyingpie commented on #61
@m1k0lay There have been a couple mentions of this issue by now, and I wonder if wt.exe is not fully available from all contexts on every machine.

Anyway, I added a setting called "WindowsTerminalCommand" in a new release. If you could try this, changing the path to the actual path to wt.exe:

[code]

This setting allows for configuring the path to wt.exe manually, so we don't need to rely on it

[2021-04-30 18:06] #6 closed

[2021-04-30 18:58] metya commented on #73
Just tested it! Everything works! It's great!
But that thing when the terminal is going up and then minimizing animation happens) A little bit annoying, but it's ok!

Thank you!)

[2021-04-30 18:58] #73 closed

[2021-04-30 19:11] flyingpie commented on #73
@metya You're welcome, thank you for adding to the conversation!

What do you mean by the minimizing animation? Can you show me your settings file?

[2021-04-30 19:20] Deus-Rex commented on #60
That did the trick., works perfect. Thanks mate.

[2021-05-01 13:48] metya commented on #73
I mean when I push ctrl+~ to up the terminal, after up animation there is animation like I minimizing window on the taskbar.

do you see that on my screen record?)
![minimizing_animation2](https://user-images.githubusercontent.com/968934/116784461-f8292c00-aa9c-11eb-817a-c67f6262b0c9.gif)

[2021-05-01 16:10] flyingpie commented on #73
@metya Huh, that's something alright. I actually have the animations turnt off, so didn't notice this initially. Perhaps it would be doable to move the entire window to somewhere else before minimizing, so you wouldn't see the animation.

Thank you for letting me know :)

[2021-05-02 21:51] N1NJ4 opened #80 "Toggle doesn't work while fullscreen app is active"
Hey, while running fullscreen games the terminal doesn't open from the key combo, or it will swap like an alt+tab to the now opening terminal, unsure if this is due to (respectively) a grabbed focus on the fullscreen application, or an inability to draw overtop of a fullscreen application.
I do know that some fullscreen applications (or all) have a grab on the screen that may impact or completely

[2021-05-03 08:43] flyingpie commented on #80
@N1NJ4 Thank you for reporting this! I think that fullscreen apps indeed grab all the focus, that's also why borderless gaming is a thing, to allow for quick alt-tabbing and such. Often, fullscreen apps actually perform better than borderless even.

May I ask what app you're running? Perhaps if I can run the same thing, it allows for more accurate reproduction.

[2021-05-03 19:28] N1NJ4 commented on #80
Hey, Counter Strike: Source, is one of them, not my usual, though I found it to be the same.. no different.
Minecraft, same.
Need for speed: Shift, doesn't show and doesn't alt-tab.

I found this..
[](https://devblogs.microsoft.com/directx/demystifying-full-screen-optimizations/)
Talks about fullscreen exclusive mode and fullscreen optimizations (didn't read a whole lot.. though..), Read under "St

[2021-05-06 00:30] juventus18 commented on #68
sounds like you need to put windows terminal folder into your `PATH` env variable

[2021-05-06 10:32] flyingpie commented on #68
@juventus18 True, but as far as I know, shouldn't that be done by the Windows Terminal installation?

[2021-05-06 10:34] flyingpie commented on #80
@N1NJ4 That's a path I'd rather not go on, as it's rendering the entire terminal directly on top of a d3d pane or what have you.

It's an interesting topic though, overlay-style tools can do a lot of fun stuff.

Can I ask why you even need a terminal in a fullscreen game?

[2021-05-06 15:43] syncore commented on #56
@flyingpie sounds good, glad you fixed it - I've moved to Linux full-time and no longer have access to Windows. I can close this issue if you want.

[2021-05-07 20:49] N1NJ4 commented on #80
Totally fair, lol

Usually I don't really care(about the time passing), though I've had this idea for an extremely long time.., always loved the quake mode for terms, etc., just don't remember anything with quite the functionality as a complete system. I find myself loosing out on time I could be using while gaming(these days..). Even if that's a few lines here or there, checking a compile or tryi

[2021-05-08 03:31] untoreh opened #81 "virtual desktop awerness"
The advantage of having a dropdown terminal is that you avoid having multiple terminal windows (excluding the ones embedded in other apps), however when switching between virtual desktops (workspaces) you need a way to group (pin) tabs such that:
- when you switch to a virtual desktop, the terminal tab is contextual to it, when dropdown occurs to switch to the last tab that was previously focused

[2021-05-09 07:10] ninjaeon opened #82 "Feature Request: Option to also close WT when exiting Terminal Quake from system tray"
Currently, exiting Windows Terminal Quake (WTS) from the system tray brings the Windows Terminal (WT) window to the forefront without exiting WT.

I often run desktop shortcuts that simultaneously open WTQ and WT with an executable or batch file running in command prompt.  When I want to stop the program from running and exit WT, I first have to pull down WTQ and then either click the close window

[2021-05-13 01:55] #81 closed

[2021-05-13 03:33] untoreh commented on #68
can this be extended to allow terminals other than Windows Terminal?

[2021-05-13 10:56] flyingpie commented on #68
@untoreh It should, which one are you wanting to use?

[2021-05-13 11:33] untoreh commented on #68
@flyingpie wezterm

[2021-05-15 11:34] flyingpie commented on #64
@rmobis This is fixed through another issue, the screen where the terminal should open/close is now determined only on animation start.

I'd love to know if the latest release fixes it on your side too :)

[2021-05-15 12:35] #72 closed

[2021-05-16 16:11] flyingpie commented on #74
I'm closing this issue since the new default way of toggling uses resize, which should fix the problem.

If anyone encounters a scenario where this is still causing trouble, feel free to re-open this issue, or create a new one.

It's also possible to revert to the old "Move"-method, through the ["ToggleMode"](https://flyingpie.github.io/windows-terminal-quake/settings/toggle-animation/#toggle-mode

[2021-05-16 16:11] #74 closed

[2021-05-16 16:12] flyingpie commented on #70
The cause and a solution for this problem is added to the [docs](https://flyingpie.github.io/windows-terminal-quake/settings/hotkeys/#f12-as-a-hotkey), closing this issue.

[2021-05-16 16:12] #70 closed

[2021-05-16 16:17] #61 closed

[2021-05-16 16:18] #60 closed

[2021-05-16 16:18] #56 closed

[2021-05-16 16:18] #44 closed

[2021-05-16 16:22] flyingpie commented on #68
@untoreh There is currently some Windows Terminal-specific stuff going on, but I don't see too much of a problem adding support for this.

Though, it's a little off-topic for this issue, could you open a new one with that specific feature request?

[2021-05-16 16:34] untoreh opened #83 "Support terminals other than windows terminal"

[2021-05-19 13:57] m1k0lay commented on #61
![Снимок экрана 2021-05-19 165628](https://user-images.githubusercontent.com/39671588/118825312-3e66f380-b8c3-11eb-90c7-7dd5982b7819.jpg)
![Безымянный](https://user-images.githubusercontent.com/39671588/118825315-3f982080-b8c3-11eb-8d82-3a1920255214.jpg)

[2021-05-19 15:00] flyingpie commented on #83
@untoreh Thank you for opening the issue.

For administrative purposes, this is about support for other terminals in general, specifically [Wez's Terminal Emulator](https://wezfurlong.org/wezterm/).

[2021-05-19 15:01] flyingpie commented on #82
@ninjaeon Thank you for reporting this!

I think that's a great idea, milestoned for 1.3.

[2021-05-19 20:54] m1k0lay commented on #61
![image](https://user-images.githubusercontent.com/39671588/118883033-7a1eaf00-b8fd-11eb-88b8-c6ecf1c269c2.png)

[2021-05-20 02:12] flyingpie commented on #83
@untoreh First build with support for this feature is available:

https://github.com/flyingpie/windows-terminal-quake/releases/tag/v1.3

To make this work with other terminals, 2 settings need to be changed. I'm using the following setup:

[code]

[2021-05-20 03:39] untoreh commented on #83
Thank you!, it works fine, maybe you also want an option to pass arguments to the process, shortcuts don't work.

Also about the window buttons on top right there is only one small unaligned red X.

[2021-05-20 22:00] flyingpie commented on #83
@untoreh I have to admit that I'm not too familiar with Wez's Terminal, so I did notice the little cross, but looked "normal" to me :)

Could you perhaps show me what the terminal _should_ look like, and perhaps tell me how you launch it (without win-term-quake) and what your configs/keyboard shortcuts/etc. look like?

Arguments: You _should_ be able to pass command line arguments to windows-termi

[2021-05-21 03:06] untoreh commented on #83
For shortcuts I just meant windows `.lnk` files which you can add arguments to. Since as you mentioned windoes-terminal-quake forwards arguments to the terminal, this is not an issue anymore and anyway I can also configure default startup options from the terminal side.

For The X button I don't do anything out of the ordinary when I launch manually, and the window has proper top right buttons:
[c

[2021-05-21 11:00] mentofa123 opened #84 "Adding a "shortcut" parameter to the Scoop Package"
The scoop package scheme has a paramter for providing shortcuts.
This could be used for the windows-terminal-quake.exe provide a better shortcut in the startmenu.

The now produced shim always opens a powershell window to execute the shim script and let it stay open.

I already updated the json file and can create a pull request if this "feature" is wanted :)

[2021-05-21 17:33] flyingpie commented on #84
@mentofa123 Thank you for reporting this, I would very much be interested in a PR :)

[2021-05-21 17:39] #84 closed

[2021-05-24 08:41] mentofa123 commented on #84
@flyingpie  added a pull request :)

[2021-05-26 09:05] bllngr opened #86 ""Main window handle not accessible" when having windows-terminal-quake start WT Preview 1.9"
I just updated WT Preview to version 1.9.1445. Now, windows-terminal-quake cannot start WT anymore with the following error:

![image](https://user-images.githubusercontent.com/303458/119632847-79ac7980-be11-11eb-86d7-9396bd51c4cf.png)

WTQ works as before when WT is manually started before it.

[2021-05-26 19:34] mkanet opened #87 "Question: Terminal Preview support for Quakemode?"
Does anyone know if it's possible to do Quakemode in Terminal Preview the same way I can with Windows-Terminal-Quake or ConEmu?  [I tried various settings in Terminal Preview](https://github.com/microsoft/terminal/issues/653#issuecomment-848990087); but, it appears it doesn't work correctly or has missing capabilities that are available only in Windows-Terminal-Quake.

BTW: Thank you for Windows-T

[2021-05-26 20:27] DHowett commented on #87
The correct place to make feature requests for Terminal is not on the excellent repository of somebody who's writing a tool that _works with Terminal_. It's on the Terminal repository. :smile:

We're still working on quake mode, but you can always unbind our version of <kbd>Win+`</kbd> and let the version from this repository "win". That way, you get the best of both worlds!

[2021-05-26 20:49] mkanet commented on #87
Thanks.  But, I wasn't asking for any feature requests.  I just wanted to verify if the new quake mode in Terminal Preview can currently reproduce what Windows-Terminal-Quake does currently.  I wasn't able to.  I'm not sure if that's because I have the wrong settings, or there are missing quake features in MS Terminal Preview.  I already tried asking there; but, it appears they may not be familiar

[2021-05-26 20:53] DHowett commented on #87
We definitely can’t match the flexibility of this project yet :)

[2021-05-26 20:54] DHowett commented on #87
(We are, however, quite familiar with ConEmu!)

[2021-05-26 21:06] mkanet commented on #87
Thanks.  I'll just continue using Window-Terminal-Quake, since it can match what ConEmu Quake Style does perfectly. I'm guessing it's just not possible in MS Terminal Preview yet. I haven't been able to confirm it, but it sounds like that might be the case.

[2021-05-26 21:07] DHowett commented on #87
I am from the Terminal team and I am here confirming this for you.

[2021-05-26 21:10] #87 closed

[2021-05-31 05:25] pnuzhdin commented on #86
I have the same issue. Meanwhile, WT Preview now has its own quake mode but I found it less useful rather than windows-terminal-quake because it doesn't support tabs and customized way less.

[2021-05-31 05:32] pnuzhdin commented on #86
Also, I found the following workaround (for me windows-terminal-quake just didn't start at all):
1. Start Windows Terminal Preview before starting windows-terminal-quake.
2. Start windows-terminal-quake.

Now windows-terminal-quake works as expected.

[2021-06-02 09:38] bllngr commented on #86
For some reason, it doesn't happen anymore for me. I didn't upgrade neither WT nor WTQ, but I'm not getting the error anymore.

@pnuzhdin, @pgarlinsiki, does it still happen for you? Otherwise, I would close the ticket.

[2021-06-02 16:17] pgarlinski commented on #86
@bllngr Odd...works for me today as well. No updates on my end either.

[2021-06-02 20:20] bllngr commented on #86
All right, let's close this. Feel free to reopen if the bug reappears.

[2021-06-02 20:20] #86 closed

[2021-06-03 04:33] pnuzhdin commented on #86
Yep, it seems fixed in WT Preview 1.9.1523.0. It updated automatically from the Windows Store and now works as expected.

[2021-06-03 04:45] pnuzhdin opened #90 "Sometimes it isn't openned at full screen and shows the taskbar"
1. Make sure VerticalScreenCoverage is set to 100 to have the windows-terminal-quake at full screen.
2. Run any application and call windows-terminal-quake.
3. Observe: windows-terminal-quake is shown at full screen without an issue.
4. Hide windows-terminal-quake.
5. Select "Show the desktop" from the taskbar context menu.
6. Call windows-terminal-quake.
7. Observe: windows-terminal-quake isn't s

[2021-06-03 20:23] flyingpie commented on #86
Thank you guys for reporting this and thanks to @bllngr for providing feedback while I was slacking off ❤️

Like he already mentioned, feel free to re-open if the poop hits the fan again.

[2021-06-03 20:24] flyingpie commented on #90
@pnuzhdin Thank you for reporting this! Can you show me your settings file please?

[2021-06-03 20:26] flyingpie commented on #83
@untoreh Would it be possible to attach a set of config files or something so I can run pretty much the same thing you're running?

[2021-06-04 03:20] pnuzhdin commented on #90
@flyingpie sure, here it is

[windows-terminal-quake.zip](https://github.com/flyingpie/windows-terminal-quake/files/6595548/windows-terminal-quake.zip)

[2021-06-05 12:37] untoreh commented on #83
.wezterm.lua
[code]

windows-terminal-quake.json
[code]

[2021-06-16 16:00] tdy opened #95 "float values no longer accepted for *ScreenCoverage"
The `*ScreenCoverage` settings and terminal bounds are now `int`:

https://github.com/flyingpie/windows-terminal-quake/blob/d6420c380a61dc7b89e851d0f82e24c8aa3bf505/windows-terminal-quake/Settings/SettingsDto.cs#L47

https://github.com/flyingpie/windows-terminal-quake/blob/d6420c380a61dc7b89e851d0f82e24c8aa3bf505/windows-terminal-quake/Settings/SettingsDto.cs#L152

https://github.com/flyingpie/win

[2021-06-17 17:36] flyingpie commented on #95
@tdy Good catch! Will fix this in the next release.

[2021-06-27 19:14] fmiqbal opened #96 "Weird input focus behavior on v1.2.0"
Recently I upgrade to v1.2.0 from v1.1.1 but I found weird behavior that I can confirm not from windows terminal, already try windows terminal 1.7, 1.8, 1.9-preview, but no avail. I use full screen, always on top, hide on lost focus

The problem is when I focus other window and the quake hide, when I toggle open again, the cursor become on top rather than showing previous scroll, expected like thi

[2021-06-27 19:21] fmiqbal commented on #96
![weird](https://user-images.githubusercontent.com/8409391/123556798-8f69e180-d7b7-11eb-8369-d1a145df5031.gif)

[2021-06-28 02:12] flyingpie commented on #96
@fmiqbal Thank you for reporting this issue! I think this might be due to the recently added different toggle mode, could you try to add the following and see if it changes anything?

[code]

[2021-06-28 03:57] fmiqbal commented on #96
Nice, thank you, that's fixed it

[2021-06-28 20:11] #96 closed

[2021-07-05 14:03] flyingpie commented on #96
The default toggle mode has been changed to "Move", on version 1.3.0, to prevent this issue, seeing that there are perhaps more cases of this then vertical monitor setups, which was the reason for the "Resize" mode.

[2021-07-05 14:27] flyingpie commented on #95
Fixed in the latest v1.3.0 preview.

https://github.com/flyingpie/windows-terminal-quake/releases/tag/v1.3

[2021-07-11 12:40] justinledwards commented on #68
This issue is actually because of how microsoft is doing application aliases.  To run the newer version of windows terminal I had to disable the old one launched via the alias.  The exe itself is 0 bytes if you look.

![image](https://user-images.githubusercontent.com/684524/125195439-9d8e1800-e223-11eb-8e4d-7e716d7e9625.png)

[2021-07-12 01:27] flyingpie commented on #68
@justinledwards Thank you so much for reporting this! Saved us a ton of time :D I'll add this to the docs.

[2021-08-24 14:41] PhilLovesToCode opened #97 "Main window handle not accessible"
This problem just started today.  Whenever I try to launch the app, I get the error "Error Starting Windows Terminal Quake: Main window handle not accessible."  Could it be that there was a Windows 11 update that borked this?  I'm running OS build 22000.160.

[2021-08-30 15:09] matefriedl opened #98 "Drop down when a new instance of Windows Terminal is launched"
I have Windows Terminal setup so that it always uses the same instance. New launches get attached the original Windows Terminal process. I often open a terminal from vscode or from the file explorer.
An option would be great to activate the quake dropdown automatically every time a windows terminal launch was detected.

This is only a suggestion, I suspect that it would take some dirty hacking to

[2021-09-12 05:34] untoreh commented on #83
on windows build `22000.184` and wezterm `20210814-124438-54e29167` id doesn't detect the process correctly anymore

[2021-09-23 20:07] #95 closed

[2021-09-28 19:47] mikemowgli opened #99 "screen cleaned when losing then getting back focus"
When the focus is lost and the shell is hidden, then open back again, all the lines on the screen are flushed and only one prompt line is displayed at the top (as if I used the 'clear' linux command). I use v1.3 and can confirm this behavior so far for wsl and powershell.

Just in case it matters (but I don't see why it'd change anything):
* my toggle hotkey is F10
* my opacity is 100%
* my vertic

[2021-10-02 09:10] flyingpie commented on #99
@mikemowgli Thank you for reporting this! Could you post your config file?

[2021-10-05 01:54] worthwhileindustries commented on #99
@flyingpie Here is my config. Same thing happens to me too.

[code]

// schema if you need it too

[code]

[2021-10-05 01:56] worthwhileindustries commented on #99
@flyingpie looks like same version

![image](https://user-images.githubusercontent.com/3536254/135948170-2da18acb-582e-493b-b2e6-900a7d353dd9.png)

[2021-10-05 02:01] worthwhileindustries commented on #97
@PhilLovesToCode This happens to me on windows 10 after upgrading windows terminal sometimes and then I have to manually go to the quake exe and launch it. Seems to fix it in that scenario anyway.

[2021-10-05 08:04] mikemowgli commented on #99
here's mine
[code]

[2021-10-08 13:20] flyingpie commented on #99
@mikemowgli @worthwhileindustries Thank you guys for posting your configs!

Could you try changing this:

[code]

To this:

[code]

Let me know what happens! :)

[2021-10-14 03:31] TinyBabyOwl opened #100 "Horizontal coverage does not allow decimals"
`How much horizontal space the terminal should use. When this is below 100, the terminal is centered.
This can also be above 100, which can be useful to compensate for the window not always taking a 100% of the screen width,
due to the terminal being bound to column widths (eg. try 100.5 or 101).`

The comment suggests you can use `100.5`, but I get this error when I use that value:
![image](https

[2021-10-17 17:47] flyingpie commented on #100
@TinyBabyOwl Thank you for reaching out! Could you tell me what version you're using? Also, if you're not already, could you try version 1.3 under "releases"?

[2021-10-27 20:00] webbertakken opened #101 "Unexpected behaviour: Terminal content scrolls up when console is hidden. Input position stays."
This setting is set to true by default, ~and works perfectly as far as I can see~ (was able to reproduce with true as well).

[code]

When setting it to `false`, I observed the following behaviours that would not be expected for a great user experience.

1. Pressing the hotkey to open the console while still open on a different screen or behind content does not open the console immediately but clo

[2021-10-28 17:47] webbertakken opened #104 "Suggestion: Use JSON5 for configuration file."
Currently when I'm editing the JSON configuration file, I see errors and warnings all over the file for every comment.

I will illustrate this with a screenshot. It happens the same for all WebStorm, Rider and VS Code:

![image](https://user-images.githubusercontent.com/20756439/139308017-30315f43-c201-45f7-8a55-2bbb2f71458c.png)

This makes it hard to spot warnings like mistyping `Oemtilde` with

[2021-10-29 18:03] flyingpie commented on #104
@webbertakken So what about just supporting yaml instead? This would allow comments, and should work on most major editors.

It's nice to know that VS Code suggests the plugin right away, though.

[2021-10-29 20:54] tdy commented on #100
@flyingpie as a side note, 1.3 is still marked as `pre-release` instead of `latest` -- is this intended?

[2021-10-29 22:34] worthwhileindustries commented on #99
Works for me too. thanks!

[2021-10-29 23:43] webbertakken commented on #104
Afaik YAML is natively supported in all IDEs, so there's that.

I feel YAMLs upside is that it's more concise and much easier to read once you're used to it while its downside is that people new to it may mess up both syntax and spacing. Maybe you're right and YAML would be the better option. But lets make sure we do have a definition file in that case as well.

Personally I have no preference bet

[2021-11-01 15:34] flyingpie commented on #100
@tdy I've been sitting on 1.3 for a bit too long, since there's a feature in there that's quite impactful (supporting terminals other than windows terminal). I've pushed that to 1.4 and am finishing up 1.3 currently.

You're right in bringing it up, since it causes some confusion and bug reports of bugs that were already fixed.

[2021-11-01 15:36] flyingpie commented on #99
@mikemowgli @worthwhileindustries Thank you for reporting back. The 1.3 release has "Move" as the default, since vertical setups are a little more rare than the character jumping.

[2021-11-09 05:07] flyingpie commented on #104
@webbertakken Thank you for your thoughts on this, I really appreciate it.

I'll look into a YAML parser, and specifically see whether this works with VS Code as nicely as JSON does, when combined with a schema file. I'll also do some tests with other well-known editors, since I like having stuff "just work" without specific editors or addons.

[2021-11-14 16:27] webbertakken opened #105 "Unexpected behaviour: Hiding console after maximizing window reverts back to old size."
**Context**

This is the default size of my console:

![image](https://user-images.githubusercontent.com/20756439/141689247-da0afaeb-b493-497a-afe2-152760466e3e.png)

When clicking on the maximize window icon - which can sometimes be helpful when having to fit more on the screen - the console looks like this:

![image](https://user-images.githubusercontent.com/20756439/141689286-b6074793-5d32-4ea8

[2021-12-15 08:28] Dominiquini opened #106 "Error opening terminal"
When I tried to start the application, this error appears:

`Error starting Windows Terminal Quake: Access is denied`

Log File:

[20211215.txt](https://github.com/flyingpie/windows-terminal-quake/files/7717597/20211215.txt)

This app worked fine the first time I tried, but is not working anymore!

Thanks

[2021-12-15 08:37] couleurm commented on #106
Where is the location of windows-terminal-quake.exe at?

[2021-12-15 09:05] Dominiquini commented on #106
I put it in this folder: "C:\Users\Rafael Dominiquini\AppData\Local\Programs\Windows Terminal Quake\windows-terminal-quake.exe"

I tried to put in another location, and the same error occurs!

[2021-12-16 22:49] juventus18 commented on #104
I noticed today that the `settings.json` file used directly for windows terminal settings does not produce errors for comments when using vscode, so it must be possible without changing the file extension or going to YAML.

I noticed the schema files for WT and w-t-q each reference a different base schema, maybe a place to start?

[2021-12-18 11:58] flyingpie commented on #104
@juventus18 Could you tell us what VSCode is saying about the file format? It may be that you're using "jsonc", or  "JSON + Comments":

![image](https://user-images.githubusercontent.com/1295673/146640140-c6d74dfb-e1ab-407b-bb45-da7af1cc4c5c.png)

[2021-12-23 21:13] juventus18 commented on #104
@flyingpie yeah, when I open WT `settings.json` it auto-detects "JSON with comments". When I open `windows-terminal-quake.json` it auto-detects to plain "JSON". A little quirky, but it seems that simply renaming `windows-terminal-quake.json` to `settings.json` makes VSC auto-detect "JSON with comments" rather than "JSON".

The red lines did bother me a little bit before, but now that I know I can

[2021-12-23 23:06] webbertakken commented on #104
VS Code allows this for their own settings file. See also earlier references.

It's not a good solution for any product that isn't vs code itself. Also editing that config in other IDEs will not auto-detect jsonc because it doesn't match the spec.

[2022-02-04 23:24] juventus18 opened #107 "Package/Release on winget"
Would be great if we can get install option thru winget. Thanks!

[2022-02-05 22:09] tdy opened #108 "Toggling always switches back to the original virtual desktop (v1.2.0+)"
As of v1.2.0, this can be reproduced as such:

1. Start WTQ on virtual desktop 2
1. Untoggle WTQ
1. Switch to virtual desktop 1
1. Toggle WTQ
    * **In v1.2.0+, it will automatically jump back to desktop 2**
    * In v1.1.1, it will stay on the current desktop 1

[2022-03-07 20:23] amlamarra opened #109 "Support multiple modifiers"
Correct me if I'm wrong, but it seems like this does not support the use of multiple modifiers for hotkeys. For instance, I'd like to set my hotkey for toggling the terminal to Ctrl+Shift+Z.

[2022-03-13 14:17] flyingpie commented on #109
@amlamarra Thank you for reaching out! Can you show me your config file? This should actually work just fine.

[2022-03-16 02:31] flyingpie commented on #109
Could you try the following:

[code]

[2022-03-16 02:59] amlamarra commented on #109
That works, thanks! Might I suggest adding it as an example to the documentation?

[2022-03-16 02:59] #109 closed

[2022-04-16 12:50] flyingpie commented on #109
@amlamarra Done! :)

[2022-05-18 08:11] flyingpie commented on #106
@Dominiquini You can open the Windows Terminal just fine? Where is it located?

[2022-08-25 19:57] N1NJ4 commented on #80
Maybe there's a way to swap the focus, keeping the resolution in tact and not change, run the program instance/feature, then swap back. I think it might be mostly about keeping the resolution, short of having a hook or something that will pick up upon key events system wide WH_KEYBOARD_LL

[2022-10-01 22:15] vvirtues opened #111 "Fix scoop installation on Quake Documentation"
Currently, the link there is https://github.com/flyingpie/windows-terminal-quake/blob/master/scoop/windows-terminal-quake.json, but this won't work because it isn't raw. Change to https://raw.githubusercontent.com/flyingpie/windows-terminal-quake/master/scoop/windows-terminal-quake.json for it to work

[2022-10-16 05:59] flyingpie commented on #111
@vvirtues Fixed, thank you for reporting!

[2022-10-16 05:59] #111 closed